.left_black_box {
  .main_text {
    .small_tip {
      font-size: .2rem;
      font-weight: 100;
      color: rgba(255, 255, 255, 0.5);
      padding: .2rem;
    }
  }
}

@media screen and (max-width: 992px) {
  .mobile {
    .left_black_box {
      .main_text {
        .small_tip {
          display: none;
        }
      }
    }
  }
}