.left_middle_info {

  @import url('../../assets/font_g8yanid91aq/iconfont.css');

  position: absolute;
  top: 50%;
  left: 0;
  width: 3.6rem;
  height: 30%;
  border-left: .2rem solid #000;
  transform: translateY(-65%);
  transition: all .8s;

  .contact_box {
    width: 100%;
    height: 100%;
    overflow: visible;

    .title_box {
      display: flex;
      align-items: center;
      width: 100%;
      // height: 0.6rem;
      margin-left: 5%;
      box-sizing: border-box;

      &::before {
        content: '';
        height: 100%;
        margin-right: 5%;
        border-left: .1rem solid #000;
      }

      span {
        flex: 1;
        width: 100%;
        padding: .1rem;
        color: #fff;
        font-size: 0.28rem;
        text-align: center;
        background-color: #000;
        white-space: nowrap;
      }
    }

    .contact_link {
      flex: 1;
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      height: 90%;
      margin-top: .2rem;
      margin-left: 12%;
      text-align: center;

      a {
        flex: 1;
        display: flex;
        align-items: center;
        margin: .1rem 0;
        font-size: .6rem;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .mobile {
    .left_middle_info {
      width: 28%;

      .contact_box {
        .contact_link {
          a {
            font-size: 1.6rem;
          }
        }
      }
    }
  }
}

.left_middle_info.left_middle_info_unactive {
  transform: translate(-150%, -65%);
}