.author_info {
  display: flex;
  align-items: center;
  position: absolute;
  right: 2rem;
  bottom: 8%;
  height: 0.4rem;
  font-size: .36rem;
  white-space: nowrap;
  text-align: right;
  overflow: hidden;
  transition: all .8s;

  span {
    transform: translateX(300%);
    animation: authorHideText 1.6s ease 1s;
    animation-fill-mode: forwards;
  }

  &::after {
    content: '';
    display: block;
    width: 1rem;
    height: .4rem;
    margin-left: .3rem;
    background-color: #000;
  }
}

@media screen and (max-width: 992px) {
  .mobile {
    .author_info {
      width: 100%;
      max-width: none;
      left: 0;
      justify-content: center;

      &::after {
        display: none;
      }
    }
  }
}

.author_info.author_info_unactive {
  right: 0;
  transform: translateX(100%);
}

@keyframes authorHideText {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0);
  }
}