.author_info {
  z-index: 100;
  display: flex;
  align-items: center;
  position: absolute;
  right: 3%;
  bottom: 6%;
  height: 0.6rem;
  font-size: .36rem;
  white-space: nowrap;
  text-align: right;
  overflow: hidden;
  transition: all .8s;

  span {
    transform: translateX(300%);
  }

  &::after {
    content: '';
    display: block;
    width: 1rem;
    height: .4rem;
    margin-left: .3rem;
    background-color: #000;
  }
}

@media screen and (max-width: 992px) {
  .mobile {
    .author_info {
      width: 100%;
      max-width: none;
      left: 0;
      justify-content: center;
      color: #fff !important;

      a {
        color: #fff !important;
      }

      &::after {
        display: none;
      }
    }
  }
}

.unactive {
  .author_info {
    right: 0;
    transform: translateX(100%);
  }
}

.startProcess {
  .author_info {
    span {
      animation: authorHideText 1.6s ease;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes authorHideText {
  from {
    transform: translateX(300%);
  }

  to {
    transform: translateX(0);
  }
}