.left_top_info {
  position: absolute;
  top: 8%;
  left: 3%;
  width: 5.6rem;
  transition: all .8s;

  .name,
  .info,
  .os {
    display: flex;
    justify-content: space-between;
  }

  .name {
    font-family: 'NWB';
    font-size: 1rem;
  }

  .info {
    font-size: .4rem;
    overflow: hidden;
  }

  .os {
    font-size: .8rem;
    font-weight: 400;

    strong {
      font-family: 'NWB';
    }
  }
}

@media screen and (max-width: 992px) {
  .mobile {
    .left_top_info {
      width: 100%;
      top: 3%;
      left: 0;

      .name,
      .info,
      .os {
        display: flex;
        justify-content: center;
      }

      .info {
        display: none;
      }
    }
  }
}

.unactive {
  .left_top_info {
    filter: blur(5px);
  }
}